@{
    ViewData["Title"] = "Home Page";
}

<table> 
    <tr>
        @foreach(var dataColumn in ViewBag.barnTable.Columns) 
        {
            <th>@dataColumn.ColumnName</th>
        }
    </tr>
    @foreach(var barnRow in ViewBag.barnTable.Rows) 
    {
        <tr>
            @for (int i = 0; i < ViewBag.barnTable.Columns.Count; i++)
            {
                <td>@barnRow[i]</td>
        }
        </tr>
    }
</table>
<a asp-controller="Home" asp-action="CreateChildView">Create Child</a>